# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
env/
ENV/

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/
staticfiles/
.DS_Store

# Environment variables
.env

# IDEs
.vscode/
.idea/
